@CHARSET "ISO-8859-1";

a {
	color: #000;
}

input[readonly] {
   background-color: #DCDCDC!Important;
}

textarea[readonly] {
   background-color: #DCDCDC!Important;
}

select[readonly] {
   background-color: #DCDCDC!Important;
}

header {
	font-weight: bold !important;
}

label {
    font-weight: bold;
}

.texto-bold {
    font-weight: bold;
}

.esquerda {
	text-align: left;
}

.ui-growl-item-container { 
	background-color: #FFFFFF;
	font-weight: normal !important;
	text-shadow: 1px 1px 0 rgba(0,0,0,0.2) !important;
	opacity: 1;
}

.ui-growl-title {
    font: 15px "Arial", Monaco, monospace;
    text-align: left;
}

.ui-outputlabel {
	font-size: 13px !Important;
	font-weight: 700 !Important;
	font-family: "Open Sans",Arial,Helvetica,Sans-Serif !Important;
	color: #333 !Important;
}

.ui-datepicker {
	z-index: 2000 !Important;
}

.ui-selectonemenu-label {
	font: 13px/16px 'Open Sans',Helvetica,Arial,sans-serif !Important;
	color: #404040 !Important;
	height: 25px !Important;
	padding-top: 5px !Important;
	padding-left: 5px !Important;
	width: auto !Important;
}

.ui-selectonemenu .ui-selectonemenu-trigger .ui-icon {
	margin-top: 5px !Important;
	margin-left: 2px !Important;
}

.btoExcluir {
	width: 60px; 
	height: 30px; 
	font-size: 12px; 
	font-family: "Open Sans",Arial,Helvetica,Sans-Serif;
}

.ui-picklist-button-add {
	min-height: 30px;
}

.ui-picklist-button-add-all {
	min-height: 30px;
}

.ui-picklist-button-remove {
	min-height: 30px;
}

.ui-picklist-button-remove-all {
	min-height: 30px;
}
.ui-button-icon-only .ui-icon, .ui-button-icons-only .ui-icon, .ui-button-text-icon-primary .ui-icon, .ui-button-text-icon-secondary .ui-icon, .ui-button-text-icons .ui-icon {
	margin-top: -8px;
}

.ui-picklist .ui-picklist-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: auto;
    height: 300px;
    width: 400px !important;
}


.column1 { 
width: 10%; 
} 
.column2 { 
width: 20%; 
}
.column3 { 
width: 30%; 
}
.column4 { 
width: 40%; 
}
.column5 { 
width: 50%; 
}
.column6 { 
width: 60%; 
}
.column7 { 
width: 70%; 
}
.column8 { 
width: 80%; 
}
.column9 { 
width: 90%; 
}
.column10 { 
width: 100%; 
}

.div-align-center {
	text-align: center;
}

.div-align-right {
	text-align: right;
}

.ui-column-title {
	font-family: "Open Sans",Arial,Helvetica,Sans-Serif;
	font-size: 13px;
    font-weight: bold;
    color: #333;
}

.ui-datatable tbody td {
	font-family: "Open Sans",Arial,Helvetica,Sans-Serif;
	font-size: 13px;
    border-style: solid;
    border-color:#DDD;
    
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

input {
    background-color: white !important;
}

th {
	background-color: #F7F7F7 !important;
}

.btn {
	color: white !important;
}

.btn-default {
	color: black !important;
}

.ui-selectonemenu .ui-selectonemenu-trigger {
	width: 21px;
	border-radius: 0;
}

.ui-selectonemenu-panel .ui-selectonemenu-filter-container {
	width: 100% !important;
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
	color: #FFFFFF !important;
}

#header {
	height: 79px !important;
}

#header>div {
	height: 79px !important;
}

#logo-group>span {
	height: 69px;
}

#left-panel {
	padding-top: 79px;
}

.ui-datatable-tablewrapper {
	overflow: hidden !important;
}

.table {
	margin-bottom: 0px !important;
}

.ui-datatable .ui-datatable-header {
	border-color: #45474b!important;
    background: #4c4f53;
    color: #fff;
    text-align: -webkit-auto;
}

.table>caption+thead>tr:first-child>td, .table>caption+thead>tr:first-child>th, .table>colgroup+thead>tr:first-child>td, .table>colgroup+thead>tr:first-child>th, .table>thead:first-child>tr:first-child>td, .table>thead:first-child>tr:first-child>th {
	border: 1px solid #ddd !important;
}

.ui-panelgrid .ui-panelgrid-cell {
	border: none !important;
}

.jarviswidget td:last-child, .jarviswidget th:last-child {
	border-right: 1px solid #DDD;
}

.jarviswidget td:first-child, .jarviswidget th:first-child {
	border-left: 1px solid #DDD;
}

.ui-inputfield, .ui-widget-content .ui-inputfield, .ui-widget-header .ui-inputfield {
	cursor: auto;
	padding: 5px 1px 1px 0px;
	width: 100%;
}

.ui-dialog.ui-widget-content .ui-dialog-titlebar {
	border-color: #45474b!important;
    background: #4c4f53;
    color: #fff;
}

.ui-dialog.ui-widget-content .ui-dialog-title {
	font-size: 14px;
    font-family: "Open Sans",Arial,Helvetica,sans-serif;
    color: white;
    font-weight: normal;
}

.ui-dialog.ui-widget-content .ui-dialog-titlebar-close {
	position: static;
    margin-top: 7px;
    margin-right: 0;
    color: red;
    text-shadow: 0 0px 0 #000;
}

.ui-dialog .ui-dialog-titlebar-close span {
	position: static;
    margin-top: -14px;
    margin-left: -4px;
}

.confirmDialogBox{
	top: 50% !important;
	left:50% !important;
	position: fixed;
	width: 320px;
}

.ui-dialog.ui-widget-content .ui-dialog-content {
	overflow: visible;
}

.ui-inputswitch {
	border: 1px solid #aaa !important;
    border-radius: 5px !important;
    height: 26px !important;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
	height: 24px !important;
}

.ui-radiobutton > .ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
	height: 17px !important;
}

.select-popup {
	display: block !important;
    padding-right: 1px !important;
}

.select-popup > .ui-selectonemenu-trigger {
	width: 27px !important;
}

.ui-dialog .ui-dialog-footer {
	height: 45px;
}

.titleHeadLogin {
	width: 80%;
    margin-top: 10px;
    font-size: 20px;
    margin-left: -120px;
    text-align: center;
}

.ui-autocomplete {
	width: 100%;
	position: relative;
}

.btn-primary {
    color: #fff !important;
    background-color: #3276b1 !important;
    border-color: #2c699d !important;
}

.btn-success {
	color: #fff !important;
	background-color: #5b835b !important;
    border-color: #4c6e4c !important;
}

.ui-dialog .ui-dialog-buttonpane {
	padding: 5px 15px 20px !important;
}

.mt35 {
	margin-top: 35px !important;
}

.ui-tabs.ui-widget-content {
	border: 0 !important;
}

.ui-tabs.ui-tabs-top>.ui-tabs-nav li {
	top: 3px !important;
}

.ui-calendar {
	width: 100%;
}

.ui-tabs-panel .ui-selectonemenu .ui-selectonemenu-trigger {
    margin-top: -1px !important;
    margin-right: -1px !important;
}

.ui-tabs-panel .ui-selectonemenu .ui-selectonemenu-trigger .ui-icon {
    margin-top: 7px !Important;
    margin-left: 1px;
}

.ui-autocomplete .ui-autocomplete-dropdown {
	margin-top: -32px !important;
	height: 95% !important;
    width: 2.0em !important;
    border-radius: 0 !important;
}

.form-group .ui-autocomplete {
	margin-top: 5px !important;
}

.ui-autocomplete-input.ui-autocomplete-dd-input {
	border-radius: 0 !important;
	padding-left: 5px !important;
}

.form-group .ui-autocomplete .ui-autocomplete-dropdown {
	margin-top: 0px !important;
	margin-right: 2px !important;
	width: 27px !important;
	height: 26px !important;
}

.form-group label {
	width: 100% !important;
	padding-left: 0px !important;
}

.form-group .ui-inputnumber .ui-inputfield {
	margin-top: 5px !important;
	padding-left: 5px !important;
}

.form-group .ui-selectonemenu label.ui-selectonemenu-label {
	padding-left: 5px !important;
}

textarea:hover {
	background-color: #fff !important;
}

.ui-tooltip {
	max-width: 300px !important;
}

.ui-tooltip .ui-tooltip-text {
	width: 300px !important;
    text-align: left !important;
}

.ui-selectmanycheckbox > tbody > tr > td {
	border: 0px !important;
	padding: 5px;
}

.ui-selectmanycheckbox .ui-state-active {
	height: 19px !important;
}

.ui-panel .ui-panel-titlebar {
	border-color: #45474b !important;
    background: #4c4f53 !important;
    color: #fff !important;
    text-align: -webkit-auto !important;
}

.ui-chkbox .ui-chkbox-box {
	height: 16px !important;
}

.ui-picklist.ui-picklist-responsive .ui-picklist-buttons button {
	height: 30px !important;
}

.ui-fieldset, .ui-fieldset .ui-fieldset-legend {
	width: auto !important;
}

.fieldset-borda {
	border: 2px solid #c8c8c8 !important;
    background-color: #ffffff !important;
    color: #333333 !important;
    padding: 0.571em 1em !important;
    margin-bottom: 20px;
}

legend {
	background-color: #f4f4f4 !important;
	font-size: 14px !important;
    font-weight: 700 !important;
}

.ui-datatable .ui-column-filter {
	width: 100% !important;
}

@media ( max-width: 50em) {
	.table-reflow-desktop thead th,
	.table-reflow-desktop tfoot td {
	      display: none;
	      width: 100% !important;
	}
	.table-reflow-desktop .ui-datatable-data td {
	     text-align: left !important;
	     display: block;
	     border: 0px none;
	     -webkit-box-sizing: border-box;
	     -moz-box-sizing: border-box;
	     box-sizing: border-box;
	     float: left;
	     clear: left;
	     width: 100% !important;
	}
	.table-reflow-desktop .ui-datatable-data.ui-widget-content {
	     border: 0px none;
	     width: 100% !important;
	}
	.table-reflow-desktop .ui-datatable-data tr.ui-widget-content {
	     border-left: 0px none;
	     border-right: 0px none;
	     width: 100% !important;
	}
	.table-reflow-desktop .ui-datatable-data td .ui-column-title {
	     padding: .4em;
	     min-width: 20%;
	     display: inline-block;
	     margin: -.4em 1em -.4em -.4em;	     
	}

	.titleHeadLogin {
		width: 50%;
	    margin-top: 20px;
	    font-size: 15px;
	    margin-left: 12px;
	    text-align: center;
	}
}
